<p class="instructions">Scraper for the 
   <a target="_blank" rel="noopener noreferrer" href="https://www.bookdepository.com/" >
   Book Depository</a> webpage, which removes all the results, which are currently 
   unavailable and displays current price leaving out the price before discount. 
   You can use a strict search using quotation ("book title") or just a usual search 
   without quotation (book title) to see the search results of all the books related to 
   that given book title. It displays 24 books of the most front from the whole result. 
   To see the full result you'll have to conduct the search in the original webpage. 
   <span class="colorize">To open the search just press on the magnyfing glass.</span></p>
<p class="instructions end-note">Happy Scraping!</p>