@font-face {
  font-family: 'League Script';
  src: url("../fonts/leaguescript-regular-webfont.eot");
  src: url("../fonts/eaguescript-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguescript-regular-webfont.woff2") format("woff2"), url("../fonts/leaguescript-regular-webfont.woff") format("woff"), url("../fonts/leaguescript-regular-webfont.ttf") format("truetype"), url("../fonts/leaguescript-regular-webfont.svg#league_scriptleague_script") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nothing You Could Do';
  src: url("../fonts/nothingyoucoulddo-regular-webfont.eot");
  src: url("../fonts/nothingyoucoulddo-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/nothingyoucoulddo-regular-webfont.woff2") format("woff2"), url("../fonts/nothingyoucoulddo-regular-webfont.woff") format("woff"), url("../fonts/nothingyoucoulddo-regular-webfont.ttf") format("truetype"), url("../fonts/nothingyoucoulddo-regular-webfont.svg#nothing_you_could_doregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.main-logo {
  display: inline-block;
  margin: 30px auto;
  font-family: "League Script";
  font-size: 60px;
  text-align: center;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -webkit-perspective: 5000px;
          perspective: 5000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  will-change: transform;
  -webkit-transition: -webkit-transform 2s linear;
  transition: -webkit-transform 2s linear;
  transition: transform 2s linear;
  transition: transform 2s linear, -webkit-transform 2s linear;
}

.space-filler-1,
.space-filler-2 {
  background: transparent;
}

.book-depository-logo {
  width: 154px;
  margin-bottom: 20px;
  fill: black;
}

.book-depository-logo-book {
  fill: #00bdd7;
}

form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid #00bdd7;
  border-radius: 15px;
  will-change: width, box-shadow;
  -webkit-transition: width 0.6s ease, -webkit-box-shadow 0.6s ease;
  transition: width 0.6s ease, -webkit-box-shadow 0.6s ease;
  transition: width 0.6s ease, box-shadow 0.6s ease;
  transition: width 0.6s ease, box-shadow 0.6s ease, -webkit-box-shadow 0.6s ease;
}

form::before {
  content: "";
  position: absolute;
  width: 15px;
  opacity: 1;
  border: 1px solid #00bdd7;
  right: -11px;
  bottom: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: center left;
          transform-origin: center left;
  will-change: transform, width, opacity;
  -webkit-transition: opacity 0.6s ease 0.4s, -webkit-transform 0.6s ease 0.4s;
  transition: opacity 0.6s ease 0.4s, -webkit-transform 0.6s ease 0.4s;
  transition: transform 0.6s ease 0.4s, opacity 0.6s ease 0.4s;
  transition: transform 0.6s ease 0.4s, opacity 0.6s ease 0.4s, -webkit-transform 0.6s ease 0.4s;
}

.form-inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  border-radius: 13px;
  background-color: transparent;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation-name: rotate-anticlockwise;
          animation-name: rotate-anticlockwise;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  will-change: transform;
}

.search-input {
  height: calc(100% - 4px);
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  border: none;
  border-radius: 13px;
  background: transparent;
  caret-color: transparent;
  color: #2A93D5;
  will-change: padding, caret-color;
}

.search-input:focus {
  outline: none;
}

.submit-button {
  position: absolute;
  right: 0;
  height: 12px;
  width: 12px;
  padding: 0;
  border-radius: 6px;
  border: 1px solid red;
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  background-color: inherit;
  will-change: transform, opacity;
}

.submit-button span {
  position: absolute;
  width: 8px;
  border-top: 1px solid red;
  -webkit-transform: translate(2px, 6px) rotate(45deg);
          transform: translate(2px, 6px) rotate(45deg);
}

.submit-button:hover {
  -webkit-box-shadow: 0 0 2px red, 0 0 1px red inset;
          box-shadow: 0 0 2px red, 0 0 1px red inset;
}

.submit-button:hover span {
  -webkit-box-shadow: 0 0 2px red;
          box-shadow: 0 0 2px red;
}

.submit-button:active, .submit-button:focus {
  outline: none;
}

.animation-on {
  -webkit-transform: rotateY(45deg);
          transform: rotateY(45deg);
}

.animation-on form,
.animation-on .form-inner-wrapper {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.search.active form {
  width: 95%;
  -webkit-box-shadow: 0 0 3px #2A93D5;
          box-shadow: 0 0 3px #2A93D5;
}

.search.active form::before {
  opacity: 0;
  -webkit-transform: rotate(45deg) scaleX(0);
          transform: rotate(45deg) scaleX(0);
  -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease;
  transition: transform 0.6s ease, opacity 0.6s ease, -webkit-transform 0.6s ease;
}

.search.active .search-input {
  padding: 0 28px 0 10px;
  caret-color: currentColor;
  -webkit-transition: padding 0s linear 0.8s, caret-color 0s linear 0.8s;
  transition: padding 0s linear 0.8s, caret-color 0s linear 0.8s;
}

.search.active .submit-button {
  opacity: 1;
  -webkit-transform: translate(-10px, -2px);
          transform: translate(-10px, -2px);
  -webkit-transition: opacity 0.3s ease 0.8s, -webkit-transform ease 0.7s;
  transition: opacity 0.3s ease 0.8s, -webkit-transform ease 0.7s;
  transition: transform ease 0.7s, opacity 0.3s ease 0.8s;
  transition: transform ease 0.7s, opacity 0.3s ease 0.8s, -webkit-transform ease 0.7s;
}

.search.active .submit-button:hover {
  cursor: pointer;
}

/* instructions */
.instructions {
  max-width: 940px;
  width: 90%;
  margin: 0 auto 30px auto;
  font-family: 'Nothing You Could Do';
  font-size: 24px;
  line-height: 30px;
  text-align: justify;
}

.colorize {
  color: #cb2d2d;
}

.end-note {
  padding-left: 20px;
}

/* search results */
.search-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1380px;
  width: 95%;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 50px;
  border: 1px solid red;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px red;
          box-shadow: 0 0 5px red;
}

.search-results .book {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.search-results .book .book-image img {
  height: 140px;
  -webkit-box-shadow: 0 0 2px #000000;
          box-shadow: 0 0 2px #000000;
}

.search-results .book .book-info {
  width: calc(100% - 130px);
  padding: 0 10px;
}

.search-results .book .book-title {
  display: block;
  margin-bottom: 10px;
  font-size: 25px;
  text-decoration: none;
  color: #010203;
}

.search-results .book .book-title:hover {
  color: #61635d;
}

.search-results .book .separator {
  margin: 5px 0;
  border-top: 1px solid #010203;
}

.search-results .book .book-format {
  font-size: 18px;
  margin-left: 10px;
}

.search-results .book .book-price {
  font-size: 20px;
  margin-left: 10px;
  color: #ff0000;
}

.search-results .book .price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* utility classes */
.display-none {
  display: none;
}

@media screen and (min-width: 576px) {
  /* header */
  .main-logo {
    font-size: 100px;
  }
  .search {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .space-filler-1,
  .space-filler-2 {
    -ms-flex-preferred-size: calc(50% - 107px);
        flex-basis: calc(50% - 107px);
    -webkit-transition: -webkit-flex-basis 0.6s ease;
    transition: -webkit-flex-basis 0.6s ease;
    transition: flex-basis 0.6s ease;
    transition: flex-basis 0.6s ease, -webkit-flex-basis 0.6s ease, -ms-flex-preferred-size 0.6s ease;
    will-change: flex-basis;
  }
  .space-filler-2 {
    -ms-flex-negative: 1000;
        flex-shrink: 1000;
  }
  .book-depository-logo {
    margin: 0 30px 0 0;
  }
  .search.active .space-filler-1 {
    -ms-flex-preferred-size: calc(50% - 368.5px);
        flex-basis: calc(50% - 368.5px);
    -webkit-transition: -webkit-flex-basis 0.6s ease 0.2s;
    transition: -webkit-flex-basis 0.6s ease 0.2s;
    transition: flex-basis 0.6s ease 0.2s;
    transition: flex-basis 0.6s ease 0.2s, -webkit-flex-basis 0.6s ease 0.2s, -ms-flex-preferred-size 0.6s ease 0.2s;
  }
  .search.active .space-filler-2 {
    -ms-flex-preferred-size: calc(50% - 174.5px);
        flex-basis: calc(50% - 174.5px);
    -webkit-transition: -webkit-flex-basis 0.6s ease 0.2s;
    transition: -webkit-flex-basis 0.6s ease 0.2s;
    transition: flex-basis 0.6s ease 0.2s;
    transition: flex-basis 0.6s ease 0.2s, -webkit-flex-basis 0.6s ease 0.2s, -ms-flex-preferred-size 0.6s ease 0.2s;
  }
  .search.active form {
    width: 30px;
  }
}

@media screen and (min-width: 768px) {
  /* search results */
  .search-results {
    padding: 15px;
    border-radius: 15px;
  }
  .search-results .book {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  /* instructions */
  .end-note {
    padding-left: 30px;
  }
}

@media screen and (min-width: 1400px) {
  /* search results */
  .search-results {
    padding: 20px;
    border-radius: 20px;
  }
}

/* search input form animation */
@-webkit-keyframes rotate-anticlockwise {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}
@keyframes rotate-anticlockwise {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(-360deg);
            transform: rotateY(-360deg);
  }
}
/*# sourceMappingURL=style.css.map */